@font-face {
    font-family: "Cyberpunk";
    src: url(/Fonts/ethnocentric\ rg.otf);
}

* {
    padding: 0;
    margin: 0;
    font-family: "Cyberpunk";
    padding: 0;
    margin: 0;
    color: rgba(255, 255, 255, 1);
}

body {
    background-color: rgba(38, 37, 37, 1);
}

.app-header {
    font-size: 3.4371643394199785vh;
    text-align: center;
    margin-top: 5vh;
    letter-spacing: 0.25vh;
}

.app-header-red {
    color: rgba(97, 0, 157, 1);
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5vh;
}

.app-input {
    width: calc(80% - 30px);
    border: transparent;
    padding: 12px;
    background-color: rgba(97, 0, 157, 1);
    text-align: center;
    color: black;
    border-radius: 30px;
}

.input-button {
    color: black;
    border: none;
    font-size: 1rem;
    margin-top: 2vh;
    padding: 0.7vh;
    border-radius: 30px;
    cursor: pointer;
}

.each-task-container {
    background-color: rgba(217, 217, 217, 1);
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    width: 70vw;
    border-radius: 30px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.tasks-container {
    display: inline-block;
}

.label-container {
    width: 55vw;
}

.tasks-label {
    display: flex;
    text-align: left;
    margin-left: 3vh;
    color: black;
    font-size: 1.7185821697099892vh;
    
}

.btn-group {
    width: 20vw;
    display: flex;
    align-items: center;
}

.btn {
    height: 2vh;
    padding-left: 1vh;
    cursor: pointer;
}

li {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-top: 5vh;
}

.app-task-container {
    background-color: rgba(160, 158, 158, 1);
    text-align: center;
    margin-top: 5vh;
    margin-left: 4vh;
    margin-right: 4vh;
    padding-bottom: 8vh;
    height: auto;
    border-radius: 30px;

}

.app-task-container-title {
    font-size: 1.8185821697099892vh;
    color: rgba(70, 0, 95, 1);
    letter-spacing: 0.2vh;
    padding-top: 1.5vh;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
